@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: rgb(47, 47, 47);
    box-sizing: border-box;
    color: white;
}

.login{
    margin: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.titulo{
    font-size: 45px;
    margin-bottom: 15px;
}

.logo{
    max-width: 200px;
    max-height: 200px;
}


.erro-login{
    opacity: 0;
}


.inputs{
    width: 40%;
    border: 5px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
}

.action-buttom:hover{
    cursor: pointer;
}

.action-buttom{
    background-color: rgb(51, 255, 75);
    width: 25%;
    border: 5px;
    border-color: rgb(51, 255, 75);
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
}

textarea{
    resize: none;
}